<!DOCTYPE html>
<html>
<head>
  <title>Rails4Example</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>
<body>

<div id="logo" style="height:50px; position:absolute; z-index:9001; width:100%">
  <div style="height:50px; width:100%; z-index:1; position: absolute;">
    <div style="margin-left: auto; margin-right: auto; height:100%; width:100%; text-align: center;">
      <%= image_tag "logo.png", height: "100%" %>
    </div>
  </div>
  <div style="height:50px; z-index:3; position: absolute; top: 10px; left: 10px;">
    <form id="search">
      <div style="height:100%; text-align: left;">
        <div class="input-group input-group-sm" style="width: 200px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
          <input id="searchbox" type="text" class="form-control" aria-label="...">
        </div>
      </div>
    </form>
  </div>
  <div style="height:44px; width:100%; z-index:1; position: absolute; top: 3px;">
    <div style="margin-left: auto; margin-right: auto; height:44px; width:100%; text-align: right; padding-right: 3px;">
      <% if @cancel %>
        <a href="/">
          <%= image_tag "cancel.png", height: "100%" %>
        </a>
      <% else %>
        <a href="/add">
          <%= image_tag "add.png", height: "100%" %>
        </a>
      <% end %>
    </div>
  </div>
  <div style="height:100%; width:100%;">
    <div style="height:100%; width:100%; background-color:white; opacity:0.5"></div>
  </div>
</div>
  
<div id="map" style="height: 100vh"></div> 

<div class="modal hide" id="loadModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h1>Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>
</div>
    
<%= yield %>

<script>
  $("#search").submit(function(evt) {
    searchCallback && searchCallback();
    evt.preventDefault();
  });
</script>

</body>
</html>
